<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <!-- 
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<scripting-invalid>true</scripting-invalid>
  	</jsp-property-group>
  	<jsp-property-group>
  		<url-pattern>/day1008/*.jsp</url-pattern>
  		<el-ignored>true</el-ignored>
  	</jsp-property-group>
  </jsp-config>
   -->
  <servlet>
  	<servlet-name>springMVC</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  
  	<multipart-config>
  		<max-file-size>20848820</max-file-size>
  		<max-request-size>418018841</max-request-size>
  		<file-size-threshold>1048576</file-size-threshold>
  	</multipart-config>
  	
  </servlet>
    
  <servlet-mapping>
  	<servlet-name>springMVC</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>
